<!-- Aside Bar -->
<div class="page-sidebar" *ngIf="!spinner; else showspinner">
  <ul class="list-unstyled accordion-menu">
    <li class="sidebar-title">Main</li>

    <li
      routerLinkActive="active-page"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="nav-link" [routerLink]="['/main']"
        ><i class="fas fa-house-user px-3"></i>Home</a
      >
    </li>

    <li routerLinkActive="active-page">
      <a href="javascript:void(0)" (click)="accordion_list($event)"
        ><i class="fas fa-user-tag px-3"></i>Institute<i
          class="fas fa-chevron-right dropdown-icon"
        ></i
      ></a>
      <ul class="d-none px-3">
        <li routerLinkActive="active-page">
          <a [routerLink]="['view-subject']">
            <span class="pointer-none"
              ><i class="fas fa-book px-3"></i>Subject</span
            >
          </a>
        </li>

        <li routerLinkActive="active-page">
          <a [routerLink]="['view-course']">
            <span class="pointer-none"
              ><i class="fab fa-contao px-3"></i>Course</span
            >
          </a>
        </li>

        <li routerLinkActive="active-page">
          <a [routerLink]="['view-batch']">
            <span class="pointer-none"
              ><i class="fas fa-layer-group px-3"></i>Batch</span
            >
          </a>
        </li>
      </ul>
    </li>

    <!-- Live session -->
    <li
      routerLinkActive="active-page"
      *ngIf="
        user.permissions.includes('LS00') || user.permissions.includes('TM11')
      "
    >
      <a href="javascript:void(0)" (click)="accordion_list($event)"
        ><i class="fas fa-tty px-3"></i>Live Session Chat<i
          class="fas fa-chevron-right dropdown-icon"
        ></i
      ></a>
      <ul class="d-none px-3">
        <li
          routerLinkActive="active-page"
          *ngIf="user.permissions.includes('LS00')"
        >
          <a [routerLink]="['live-session-chat']"
            ><i class="fas fa-comment-dots px-3"></i> Agent</a
          >
        </li>

        <li
          routerLinkActive="active-page"
          *ngIf="user.permissions.includes('TM11')"
        >
          <a [routerLink]="['trainer-mode']">
            <span class="pointer-none"
              ><i class="fas fa-user-clock px-3"></i>Trainer Mode</span
            >
          </a>
        </li>
      </ul>
    </li>

    <!-- Admin -->
    <li routerLinkActive="active-page">
      <a [routerLink]="['user-details', 'admin']">
        <i class="fas fa-user-tag px-3"></i>Admin
      </a>
      <!-- <ul class="d-none px-3">
      
        <li routerLinkActive="active-page">
          <a [routerLink]="['user-details', 'admin']"
            ><i class="fas fa-id-card"></i>View Admin</a
          >
        </li>
        <li>
          <a [routerLink]="['students-details', 'students']"
            ><i class="fas fa-user-graduate"></i>View Students</a
          >
        </li>
      </ul> -->
    </li>

    <li routerLinkActive="active-page">
      <a [routerLink]="['students-details', 'students']"
        ><i class="fas fa-user-tag px-3"></i>Student</a
      >
    </li>

    <li routerLinkActive="active-page">
      <a [routerLink]="['view-blog']">
        <span class="pointer-none"
          ><i class="fas fa-blog px-3"></i>Knowledge Base</span
        >
      </a>
    </li>

    <li routerLinkActive="active-page">
      <a href="javascript:void(0)" (click)="accordion_list($event)"
        ><i class="fas fa-cogs px-3"></i>Setting<i
          class="fas fa-chevron-right dropdown-icon"
        ></i
      ></a>
      <ul class="d-none px-3">
        <li routerLinkActive="active-page">
          <a [routerLink]="['view-category']">
            <span class="pointer-none"
              ><i class="fas fa-book px-3"></i>Category</span
            >
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>

<ng-template #showspinner>
  <div class="spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>
