
<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Add Question
        </ng-template>
        <ng-template pTemplate="subtitle">
            Add question for this exam
        </ng-template>
        <ng-template pTemplate="content">
            <div class="row">
                <div class="col-12 col-md-4 mt-5" >
                  <span class="p-float-label w-100">
                    <p-multiSelect 
                      display="chip"
                      inputId="question_bank"
                      [autoDisplayFirst]="false"
                      optionLabel="name"
                      optionValue="_id"
                      [options]="question_banks"
                      [style]="{ minWidth: '100%' }"
                      [(ngModel)]="selected_question.question_bank"
                      (onChange)="questionBankChange($event)"
                     >

                    </p-multiSelect>
                    <label for="question_bank">Select question bank</label>
                    <!-- <small *ngIf="(question_bank.invalid && submitted) || (question_bank.dirty && question_bank.invalid)" class="p-error">Question bank is required.</small> -->
                  </span>
                </div>
        
                <div class="col-12 col-md-4 mt-5" >
                    <span class="p-float-label w-100">
                      <p-multiSelect 
                      [options]="questionList" 
                      [group]="true" 
                      optionLabel="name"
                      [(ngModel)]="selected_question.question" 
                      defaultLabel="Select questions" 
                      scrollHeight="250px" 
                      (onChange)="questionChange($event)"
                      display="chip">
                        <ng-template let-group pTemplate="group">
                            <div class="p-d-flex p-ai-center">
                                <span>{{group.qb_name}}</span>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                      <small *ngIf="(question.invalid && submitted) || (question.dirty && question.invalid)" class="p-error">Question is required.</small>
                  </span>
                </div>
              </div>
          
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-between">
                <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
                <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right" ></p-button>
            </div>
        </ng-template>
    </p-card>
  </div>