.page-not-found {
  width: 100%;
  object-fit: contain;
}

.goto {
  position: absolute;
  bottom: 30%;
  button {
    min-width: 120px;

    a {
      width: 100%;
      text-align: center;
      color: #fff;
    }
  }
}
