<section *ngIf="!spinner; else showspinner">
  <!-- chat module -->
  <div class="row">
    <div class="col-sm-12 col-md-4 m-b-md">
      <!-- student list -->
      <div class="card">
        <div class="card-body">
          <div class="email-list">
            <ul class="list-unstyled">
              <li
                style="cursor: pointer"
                *ngFor="let item of batch"
                (click)="get_selected_batch_all_chat(item)"
              >
                <a class="javascript:void(0)">
                  <div class="email-list-item">
                    <div class="email-author">
                      <img
                        src="../../assets/images/avatars/batch.svg"
                        alt=""
                        style="border-radius: 50%"
                      />
                      <span class="author-name"> {{ item.batch_name }} </span>
                      <span class="email-date">
                        {{ item.active ? 1 : 0 }}
                      </span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- chat container -->
    <div class="col-sm-12 col-md-8" *ngIf="selected_batch">
      <div class="card">
        <div class="card-body">
          <ng-container>
            <!-- batch name -->
            <div
              class="
                chat-header
                d-flex
                justify-content-between
                align-items-center
              "
            >
              <h3 class="h3">{{ selected_batch.batch_name }}</h3>

              <div
                class="form-check form-switch d-flex align-items-center"
                style="padding-right: 1rem; cursor: pointer"
              >
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckDefault"
                  style="padding: 1rem; width: 4em; cursor: pointer"
                  (click)="enable_student_name = !enable_student_name"
                />
              </div>
            </div>

            <div class="chat-body px-2 position-relative" id="chat-body">
              <!-- load more button -->
              <div class="d-flex">
                <button
                  pButton
                  pRipple
                  pTooltip="Load more"
                  type="button"
                  icon="pi pi-cloud-download"
                  class="p-button-rounded p-button-outlined m-auto"
                ></button>
              </div>

              <!-- message list -->
              <div
                class="post-comments d-flex flex-column"
                *ngIf="all_chats.length != 0; else nochat"
              >
                <div class="post-comm" *ngFor="let chat of all_chats">
                  <img
                    src="../../assets/images/avatars/user.svg"
                    class="comment-img"
                    alt=""
                  />
                  <div class="comment-container pb-2">
                    <span class="comment-author">
                      <span *ngIf="enable_student_name">
                        {{ chat.sender_name }}</span
                      >
                      <span *ngIf="!enable_student_name">Student</span>
                      <small class="comment-date" *ngIf="chat.created_at">
                        {{ chat.created_at | amDateFormat: "hh:mmA" }}</small
                      >
                    </span>
                  </div>

                  <ng-container *ngIf="chat.text_message">
                    <p-divider></p-divider>
                    <span class="comment-text"> {{ chat.text_message }} </span>
                  </ng-container>

                  <div class="attachment" *ngIf="chat.attachment.length > 0">
                    <p-divider></p-divider>
                    <small>Attachments</small>
                    <ul
                      class="d-flex flex-wrap"
                      style="list-style: none; margin: 0; padding: 0"
                    >
                      <li
                        class="mr-2"
                        *ngFor="let attachment of chat.attachment; index as i"
                      >
                        <a [href]="attachment" target="_blank">Files{{ i }} </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <ng-template #nochat>
                <h3 class="text-center text-danger center">
                  No Chat Available
                </h3>
              </ng-template>
            </div>

            <div class="chat-footer">
              <div class="row p-0 align-items-center">
                <div class="col-12 p-0">
                  <p class="p-0 m-0 ml-2" style="padding: 0 1.5rem !important ">
                    Message to all students
                  </p>
                </div>
                <div class="col-10">
                  <textarea
                    name="text"
                    placeholder="Write Something"
                    id=""
                    cols="30"
                    rows="1"
                    class="form-control"
                    (input)="textarea_auto_increment($event)"
                    #textarea
                  ></textarea>
                </div>
                <div class="chat-control col-2 d-flex align-items-center pl-0">
                  <div class="attachment">
                    <div class="file">
                      <input
                        type="file"
                        multiple
                        name="file"
                        (change)="attchment($event)"
                        id="file"
                      />
                      <label for="file" title="select files">
                        <span *ngIf="files.length == 0; else count"
                          ><i class="fas fa-paperclip"></i
                        ></span>
                        <ng-template #count>
                          <span class="count"> {{ files.length }} </span>
                        </ng-template>
                      </label>
                    </div>
                  </div>

                  <div class="send z-1000">
                    <ng-container *ngIf="!message_sending; else wait">
                      <button
                        type="button"
                        [disabled]="textarea.value == '' && files.length == 0"
                        (click)="send_message(textarea)"
                      >
                        <i class="far fa-paper-plane"></i>
                      </button>
                    </ng-container>

                    <ng-template #wait>
                      <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-spin pi-spinner"
                        class="p-button-rounded"
                        disabled="true"
                      ></button>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #showspinner>
  <div class="spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>
