<section *ngIf="!spinner; else showspinner">
  <!-- chat module -->
  <div class="row">
    <div class="col-sm-12 col-md-4 m-b-md">
      <!-- student list -->
      <div class="card">
        <div class="card-body">
          <div class="email-list">
            <ul class="list-unstyled">
              <li
                style="cursor: pointer"
                *ngFor="let item of batch"
                (click)="get_selected_batch_all_chat(item)"
              >
                <a class="javascript:void(0)">
                  <div class="email-list-item">
                    <div class="email-author">
                      <img
                        src="../../assets/images/avatars/batch.svg"
                        alt=""
                        style="border-radius: 50%"
                      />
                      <span class="author-name"> {{ item.batch_name }} </span>
                      <span class="email-date">
                        {{ item.active ? 1 : 0 }}
                      </span>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- chat container -->
    <div class="col-sm-12 col-md-8" *ngIf="selected_batch">
      <div class="card">
        <div class="card-body">
          <ng-container>
            <!-- batch name -->
            <div
              class="
                chat-header
                d-flex
                justify-content-between
                align-items-center
              "
            >
              <h3 class="h3">{{ selected_batch.batch_name }}</h3>
            </div>

            <div class="chat-body px-2 position-relative" id="chat-body">
              <!-- load more button -->
              <div class="d-flex">
                <button
                  pButton
                  pRipple
                  pTooltip="Load more"
                  type="button"
                  icon="pi pi-cloud-download"
                  class="p-button-rounded p-button-outlined m-auto"
                ></button>
              </div>

              <!-- message list -->
              <div
                class="post-comments d-flex flex-column"
                *ngIf="all_chats.length != 0; else nochat"
              >
                <div class="post-comm" *ngFor="let chat of all_chats">
                  <img
                    src="../../assets/images/avatars/user.svg"
                    class="comment-img"
                    alt=""
                  />
                  <div class="comment-container pb-2">
                    <span class="comment-author">
                      {{ chat.sender_name }}
                      <small class="comment-date" *ngIf="chat.created_at">
                        {{
                          chat.created_at.seconds
                            | amFromUnix
                            | amDateFormat: "hh:mmA"
                        }}</small
                      >
                    </span>
                  </div>

                  <ng-container *ngIf="chat.message">
                    <p-divider></p-divider>
                    <span class="comment-text"> {{ chat.message }} </span>
                  </ng-container>

                  <div class="attachment" *ngIf="chat.attachment.length > 0">
                    <p-divider></p-divider>
                    <small>Attachments</small>
                    <ul
                      class="d-flex flex-wrap"
                      style="list-style: none; margin: 0; padding: 0"
                    >
                      <li
                        class="mr-2"
                        *ngFor="let attachment of chat.attachment; index as i"
                      >
                        <a [href]="attachment" target="_blank">Files{{ i }} </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <ng-template #nochat>
                <h3 class="text-center text-danger center">
                  No Chat Available
                </h3>
              </ng-template>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #showspinner>
  <div class="spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>
