.bell-count {
  position: absolute;
  padding: 0.3rem 0.5rem;
  border-radius: 50%;
  right: 7px;
  top: 0;
  background-color: #ee6e83;
}

a.notifications-dropdown {
  background-color: #fff !important;
}

.arrow {
  transition: all 250ms ease-in-out;
}

.arrow-swing {
  transform: rotate(180deg);
}

.header-logo {
  width: 150px;
  object-fit: contain;
  a {
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.page-header .header-notif {
  padding: 10px !important;
}

.notif-text {
  width: 100% !important;
}

.notification {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    p {
      font-size: 12px;
    }
    p:nth-child(1) {
      span {
        padding: 0.2rem 0.4rem;
        background: #34c38f;
        border-radius: 20px;
        font-size: 8px;
        color: #fff;
      }
    }
  }
  .notification-body {
    padding: 0.6em 0;
    h4 {
      margin: 0 0 0.2em 0;
    }
    p {
      font-size: 10px;
      line-height: 16px;
      opacity: 0.7;
    }
  }
  .notification-footer {
    strong {
      opacity: 0.8;
      font-size: 12px;
    }
  }
}
