<section *ngIf="!spinner; else showspinner">
  <!-- chat module -->
  <div class="row">
    <div class="col-sm-12 col-md-3 m-b-md">
      <div class="card">
        <div class="card-body p-0 p-2">
          <div class="row align-items-center">
            <!-- batch area -->
            <div class="col-7">
              <p-dropdown
                [options]="batch"
                placeholder="Select a Batch"
                optionLabel="batch_name"
                [style]="{ minWidth: '100%', 'border-radius': '10px' }"
                [(ngModel)]="selected_batch"
                display="chip"
                (onChange)="get_all_student_chat()"
              >
              </p-dropdown>
            </div>

            <div class="col-5">
              <button
                type="button"
                class="btn btn-danger"
                [disabled]="!end_all_chat_button"
                (click)="end_all_chat()"
              >
                End All Chat
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- student list -->
      <div class="card">
        <div class="card-body">
          <div class="email-list">
            <ul class="list-unstyled">
              <ng-container *ngIf="active_student_list.length > 0; else nodata">
                <ng-container *ngFor="let student of active_student_list">
                  <li
                    *ngIf="selected_batch._id === student.batch_id"
                    (click)="check_slot(student)"
                    style="cursor: pointer"
                  >
                    <a class="javascript:void(0)">
                      <div class="email-list-item">
                        <div class="email-author">
                          <img
                            src="../../assets/images/avatars/profile-image-1.png"
                            alt=""
                          />
                          <span class="author-name">
                            {{ student.student_name }}
                          </span>
                          <span
                            class="email-date"
                            *ngIf="student.admin_unread_count > 0"
                          >
                            {{ student.admin_unread_count }}
                          </span>
                        </div>
                      </div>
                    </a>
                  </li>
                </ng-container>
              </ng-container>

              <li>
                <ng-template #nodata>
                  <h4 class="h4 warnning">
                    Please Select A batch from the dropdown above
                  </h4>
                </ng-template>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-9">
      <div class="row">
        <div
          class="col-12 col-md-4 p-0 p-2"
          *ngFor="let stu of slots; let i = index"
        >
          <app-chat-window
            [chat]="stu"
            [index]="i"
            (onMessageSend)="newMessageSend($event)"
            (onAttachment)="newAttachment($event)"
          ></app-chat-window>
        </div>
      </div>
    </div>
  </div>
</section>

<audio src="../../../assets/Sound/pop.mp3" #sound></audio>

<!-- Error Handler -->
<p-dialog
  header="Warning"
  [(visible)]="display"
  [breakpoints]="{ '960px': '100vw' }"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <div>
    <h3 class="h3 text-center text-danger">
      Live Session Chat is Currently Unavailable
    </h3>
    <p class="mt-4">You can access this option only on :</p>

    <div class="row">
      <div class="col-12 mt-5" style="height: 200px">
        <span class="p-float-label w-100">
          <p-dropdown
            inputId="dropdown"
            [autoDisplayFirst]="false"
            [options]="slots"
            optionLabel="student_name"
            [style]="{ minWidth: '100%', heigth: '300px' }"
            [(ngModel)]="replace"
          ></p-dropdown>
          <label for="dropdown">Course</label>
        </span>
      </div>

      <div class="mt-5">
        <button class="btn btn-primary" (click)="replace_chat()">
          Replace
        </button>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      label="Ok"
      styleClass="p-button-text"
      (click)="display = false"
    ></p-button>
  </ng-template>
</p-dialog>

<ng-template #showspinner>
  <div class="spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>
