<section *ngIf="!spinner; else showspinner">
  <!-- chat module -->
  <div class="row">
    <div class="col-sm-12 col-md-4 m-b-md">
      <div class="card">
        <div class="card-body p-0 p-2">
          <div class="row align-items-center">
            <!-- batch area -->
            <div class="col-7">
              <p-dropdown
                [options]="batch"
                placeholder="Select a Batch"
                optionLabel="batch_name"
                [style]="{ minWidth: '100%', 'border-radius': '10px' }"
                [(ngModel)]="selected_batch"
                display="chip"
                (onChange)="get_all_student_chat()"
              >
              </p-dropdown>
            </div>

            <div class="col-5">
              <button
                type="button"
                class="btn btn-danger"
                [disabled]="!end_all_chat_button"
                (click)="end_all_chat()"
              >
                End All Chat
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- student list -->
      <div class="card">
        <div class="card-body">
          <div class="email-list">
            <ul class="list-unstyled">
              <ng-container *ngIf="active_student_list.length > 0; else nodata">
                <ng-container *ngFor="let student of active_student_list">
                  <li
                    *ngIf="selected_batch._id === student.batch_id"
                    (click)="get_selected_student_chat(student)"
                    style="cursor: pointer"
                  >
                    <a class="javascript:void(0)">
                      <div class="email-list-item">
                        <div class="email-author">
                          <img
                            src="../../assets/images/avatars/profile-image-1.png"
                            alt=""
                          />
                          <span class="author-name">
                            {{ student.student_name }}
                          </span>
                          <span
                            class="email-date"
                            *ngIf="student.admin_unread_count > 0"
                          >
                            {{ student.admin_unread_count }}
                          </span>
                        </div>
                      </div>
                    </a>
                  </li>
                </ng-container>
              </ng-container>

              <li>
                <ng-template #nodata>
                  <h4 class="h4 warnning">
                    Please Select A batch from the dropdown above
                  </h4>
                </ng-template>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-8">
      <div class="row">
        <div class="col-12 col-md-4" *ngFor="let stu of slots">
          <app-chat-window [chat]="stu"></app-chat-window>
        </div>
      </div>
    </div>
  </div>
</section>

<audio src="../../../assets/Sound/pop.mp3" #sound></audio>

<ng-template #showspinner>
  <div class="spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>
