<section>
  <!-- Enabled Course -->
  <div class="card">
    <div class="card-body">
      <div class="header">
        <h3 class="">Exam Submission</h3>
      </div>

      <div *ngIf="!spinner; else showspinner">
        <div class="row my-3">
          <div class="col-md-4">
            <span class="p-float-label w-100">
              <p-calendar
                inputId="start_date"
                [style]="{ minWidth: '100%' }"
                [(ngModel)]="start_date"
                dateFormat="dd.mm.yy"
              ></p-calendar>
              <label for="start_date">Start Date</label>
            </span>
          </div>
          <div class="col-md-4">
            <span class="p-float-label w-100">
              <p-calendar
                inputId="end_date"
                [style]="{ minWidth: '100%' }"
                [(ngModel)]="end_date"
                dateFormat="dd.mm.yy"
                [minDate]="start_date"
              ></p-calendar>
              <label for="end_date">End Date</label>
            </span>
          </div>
          <div class="col-md-4">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-filter"
              class="p-button-rounded"
              [disabled]="!(end_date && start_date)"
              (click)="filterSubmission()"
            ></button>
          </div>
        </div>
        <p-table
          #question_bank_table
          [value]="exam_submission_list"
          dataKey="id"
          [rows]="10"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          styleClass="p-datatable-customers"
          [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [globalFilterFields]="['email', 'total_marks', 'total_obtain_marks']"
        >
          <ng-template pTemplate="caption" class="w-100">
            <div class="p-d-flex w-100">
              <span class="p-input-icon-left p-ml-auto w-100">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="
                    question_bank_table.filterGlobal(
                      $event.target.value,
                      'contains'
                    )
                  "
                  placeholder="Search keyword"
                  class="w-100"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Student Email</th>
              <th>Total Attempt</th>
              <th>Total Marks</th>
              <th>Obtain Marks</th>
              <th>Percentage</th>
              <th>Percentile</th>
              <th>Test Attempt Date</th>
              <th>View Answer</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-submission let-rowIndex="rowIndex">
            <tr>
              <td>
                {{ submission.email }}
              </td>

              <td>
                <a
                  [routerLink]="[
                    '/main/view-exam/submission',
                    submission.exam_id,
                    submission.email
                  ]"
                  >{{ submission.submissions?.length }}
                </a>
              </td>
              <td>
                {{ submission.total_marks }}
              </td>

              <td>
                {{ submission.total_obtain_marks }}
              </td>
              <td>
                {{
                  (submission.total_obtain_marks / submission.total_marks) * 100
                    | number: "1.2-2"
                }}
              </td>
              <td>
                {{
                  (submission.total_obtain_marks / max_obtan_marks) * 100
                    | number: "1.2-2"
                }}
              </td>
              <td>
                {{ submission.attempt_end_date | date: "medium" }}
              </td>
              <td>
                <a href="{{ getViewAnswerUrl(submission) }}" target="_blank"
                  >View Answer</a
                >
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">No Submission found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</section>

<ng-template #showspinner>
  <div class="spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>
