<section *ngIf="!spinner; else showspinner">
    <!-- Enabled Course -->
    <div class="card">
      <div class="card-body">
        <div class="header">
          <h3 class="">Exam List</h3>
  
          <div class="d-flex align-items-center">
            <button class="btn btn-primary" (click)="createExam()">
              <a>
                Create Exam <i class="fas fa-plus"></i>
              </a>
            </button>
          </div>
        </div>
  
        <div>
          <p-table
            #question_bank_table
            [value]="exam_list"
            dataKey="id"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            styleClass="p-datatable-customers"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="[
              'exam_form.exam_name'
            ]"
          >
            <ng-template pTemplate="caption" class="w-100">
              <div class="p-d-flex w-100">
                <span class="p-input-icon-left p-ml-auto w-100">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    (input)="
                      question_bank_table.filterGlobal(
                        $event.target.value,
                        'contains'
                      )
                    "
                    placeholder="Search keyword"
                    class="w-100"
                  />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Name</th>
                <th>Exam Start Date Time</th>
                <th>Exam End Date Time</th>
                <th>Exam URL</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-exam>
              <tr>
                <td>
                  {{ exam.exam_form.exam_name }}
                </td>
                <td>{{ exam.publish.start_date | date }} {{ exam.publish.start_time | date:'h:mm a z' }}</td>
                <td *ngIf="exam.publish.end_date">{{ exam.publish.end_date | date }} {{ exam.publish.end_time | date:'h:mm a z' }}</td>
                <td *ngIf="!exam.publish.end_date">Not Applicable</td>
                <td><span id="pwd_spn">{{ exam.publish.publish_url }} <a *ngIf="exam.publish.publish_url" href="javascript:void(0)" (click)="copy_password()"><i class="pi pi-copy" ></i></a> </span> </td>
                <td class="position-relative">
                  <ng-container *ngIf="!question_bank_type_disabled; else enable">
                    <button
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-ellipsis-h"
                      class="p-button-rounded p-button-text"
                      (click)="menu.toggle($event)"
                    ></button>
  
                    <p-menu
                      #menu
                      [popup]="true"
                      [model]="items"
                      (click)="exam_action(exam)"
                    ></p-menu>
                  </ng-container>
  
                  <ng-template #enable>
                    <button
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-pencil"
                      class="p-button-rounded p-button-text"
                      (click)="enable_question_bank(question_bank)"
                    ></button>
                  </ng-template>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">No User found.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </section>
  
  <ng-template #showspinner>
    <div class="spinner">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
  