<section *ngIf="!spinner; else showspinner">
  <!-- chat module -->
  <div class="row">
    <div class="col-sm-12 col-md-4 m-b-md">
      <div class="card">
        <div class="card-body p-0 p-2">
          <div class="row align-items-center">
            <!-- batch area -->
            <div class="col-12">
              <p-dropdown
                [options]="batches"
                placeholder="Select a Batch"
                optionLabel="batch_name"
                optionValue="_id"
                [style]="{ minWidth: '100%', 'border-radius': '10px' }"
                display="chip"
                [(ngModel)]="selected_batch"
                (onChange)="get_all_student_chat()"
              >
              </p-dropdown>
            </div>

            <!-- <div class="col-5">
              <button
                type="button"
                class="btn btn-danger"
                [disabled]="!end_all_chat_button"
                (click)="end_all_chat()"
              >
                End All Chat
              </button>
            </div> -->
          </div>
        </div>
      </div>

      <!-- student list -->
      <div class="card">
        <div class="card-body">
          <div class="email-list">
            <ul class="list-unstyled">
              <ng-container *ngIf="active_student_list.length > 0; else nodata">
                <li
                  *ngFor="let student of active_student_list"
                  (click)="get_selected_student_chat(student)"
                  style="cursor: pointer"
                >
                  <a class="javascript:void(0)">
                    <div class="email-list-item">
                      <div
                        class="email-author"
                        style="
                          display: flex;
                          justify-content: space-between;
                          align-items: center;
                        "
                      >
                        <div class="name">
                          <img
                            src="../../assets/images/avatars/profile-image-1.png"
                            alt=""
                          />
                          <span class="author-name">
                            {{ student.student_name }}
                            <small
                              class="text-danger time"
                              *ngIf="student.last_message"
                            >
                              {{ student.last_message | amTimeAgo }}
                            </small>
                          </span>
                        </div>
                        <span
                          class="email-date"
                          *ngIf="student.admin_unread_count > 0"
                        >
                          {{ student.admin_unread_count }}
                        </span>
                      </div>
                    </div>
                  </a>
                </li>
              </ng-container>

              <li>
                <ng-template #nodata>
                  <h4 class="h4 warnning">
                    Please Select A batch from the dropdown above
                  </h4>
                </ng-template>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- chat container -->
    <div class="col-sm-12 col-md-8" *ngIf="selected_batch">
      <div class="card">
        <div class="card-body">
          <ng-container *ngIf="selected_student; else warning">
            <div
              class="
                chat-header
                d-flex
                justify-content-between
                align-items-center
              "
            >
              <h3 class="h3" *ngIf="selected_student">
                {{ selected_student.student_name }}
              </h3>
            </div>

            <div class="chat-body px-2" id="chat-body">
              <div class="post-comments d-flex flex-column">
                <ng-container *ngIf="student_message">
                  <ng-container *ngFor="let ch of student_message">
                    <p-divider align="center">
                      <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-calendar p-mr-2"></i>
                        <b> {{ ch.date | amDateFormat: "LL" }}</b>
                      </div>
                    </p-divider>
                    <div
                      class="post-comm"
                      *ngFor="let message of ch.message"
                      [ngClass]="
                        message.sender_type === 'student'
                          ? 'align-self-start'
                          : 'align-self-end'
                      "
                    >
                      <img
                        src="../../assets/images/avatars/profile-image-2.png"
                        class="comment-img"
                        alt=""
                      />
                      <div class="comment-container pb-2">
                        <span class="comment-author">
                          {{ message.sender_name }}
                          <small
                            class="comment-date"
                            *ngIf="message.created_at"
                          >
                            {{
                              message.created_at | amDateFormat: "hh:mmA"
                            }}</small
                          >
                        </span>
                      </div>

                      <ng-container *ngIf="message.text_message">
                        <p-divider></p-divider>
                        <span
                          class="comment-text"
                          [innerHTML]="message.text_message"
                        >
                        </span>
                      </ng-container>

                      <div
                        class="attachment"
                        *ngIf="message.attachment?.length > 0"
                      >
                        <p-divider></p-divider>
                        <small>Attachments</small>
                        <ul
                          class="d-flex flex-wrap"
                          style="list-style: none; margin: 0; padding: 0"
                        >
                          <li
                            class="mr-2"
                            *ngFor="let file of message.attachment; index as i"
                          >
                            <a
                              [href]="file"
                              target="_blank"
                              [ngClass]="{
                                'text-white': message.sender_type === 'student'
                              }"
                              >file{{ i }}</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </ng-container>

          <ng-template #warning>
            <h4 class="h4 warnning">Please Select A student to start Chat</h4>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>

<audio src="assets/Sound/pop.mp3" #sound></audio>

<ng-template #showspinner>
  <div class="spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>
