<div class="card" *ngIf="!spinner; else showspinner">
  <div class="card-body">
    <div class="header">
      <h3 class="">Create Question</h3>

      <div class="d-flex align-items-center" [ngSwitch]="creation_type">
        <ng-container *ngSwitchCase="'new_created'">
          <button
            class="btn btn-primary mr-3"
            (click)="creation_type = 'from_old_question'"
          >
            <a> Use Existing Question </a>
          </button>
          <button
            class="btn btn-primary mr-3"
            (click)="creation_type = 'import_csv'"
          >
            <a> Import from CSV </a>
          </button>
        </ng-container>

        <ng-container *ngSwitchCase="'import_csv'">
          <button
            class="btn btn-primary mr-3"
            (click)="creation_type = 'from_old_question'"
          >
            <a> Use Existing Question </a>
          </button>

          <button
            class="btn btn-primary mr-3"
            (click)="creation_type = 'new_created'"
          >
            <a> New Created </a>
          </button>
        </ng-container>

        <ng-container *ngSwitchCase="'from_old_question'">
          <button
            class="btn btn-primary mr-3"
            (click)="creation_type = 'new_created'"
          >
            <a> New Created </a>
          </button>

          <button
            class="btn btn-primary mr-3"
            (click)="creation_type = 'import_csv'"
          >
            <a> Import from CSV </a>
          </button>
        </ng-container>

        <button class="btn btn-primary">
          <a [routerLink]="['../view-question-bank']">
            <i class="fas fa-arrow-left"></i> Back
          </a>
        </button>
      </div>
    </div>
    <div class="container-fluid">
      <div [ngSwitch]="creation_type">
        <ng-container *ngSwitchCase="'new_created'">
          <div class="container-fluid mt-3">
            <form [formGroup]="myForm" (ngSubmit)="create_company_fun()">
              <ng-container formArrayName="questions">
                <div
                  class="row"
                  *ngFor="let comp of questionFormArr.controls; let i = index"
                >
                  <p-divider align="center" class="mt-3">
                    <div class="p-d-inline-flex p-ai-center">
                      <i class="pi pi-question p-mr-2"></i>
                      <b>Question {{ i + 1 }} </b>
                    </div>
                  </p-divider>
                  <ng-container [formGroupName]="i">
                    <div class="col-12 col-md-9 mt-5">
                      <span class="p-float-label w-100">
                        <input
                          type="text"
                          id="inputtext"
                          class="form-control"
                          pInputText
                          formControlName="question_name"
                        />
                        <label for="inputtext">Question Name</label>
                      </span>
                    </div>
                    <div class="col-12 col-md-3 mt-5 d-flex">
                      <div>
                        <button
                          pButton
                          pRipple
                          type="button"
                          icon="pi pi-plus"
                          (click)="addNewQuestion()"
                          class="p-button-rounded p-button-success"
                        ></button>
                      </div>

                      <div style="margin-left: 1rem">
                        <button
                          pButton
                          pRipple
                          type="button"
                          icon="pi pi-minus"
                          (click)="deleteQuestion(i)"
                          class="p-button-rounded p-button-danger"
                        ></button>
                      </div>
                    </div>

                    <div class="col-12 col-md-4 mt-5">
                      <span class="p-float-label w-100">
                        <input
                          type="text"
                          id="inputtext"
                          class="form-control"
                          pInputText
                          formControlName="point"
                        />
                        <label for="inputtext">Points</label>
                      </span>
                    </div>
                    <div class="col-12 col-md-4 mt-5">
                      <span class="p-float-label w-100">
                        <p-dropdown
                          inputId="dropdown"
                          [autoDisplayFirst]="false"
                          [options]="type"
                          [style]="{ minWidth: '100%' }"
                          optionLabel="name"
                          optionValue="type"
                          formControlName="type"
                          (onChange)="type_selected(comp, i)"
                        ></p-dropdown>
                        <label for="dropdown">Type</label>
                      </span>
                    </div>
                    <!-- <div
                      class="col-12 col-md-4 mt-5"
                      *ngIf="
                        comp.get('type').value == 'multipleInput' ||
                        comp.get('type').value == 'checkbox'
                      "
                    >
                      <span class="p-float-label w-100">
                        <input
                          type="text"
                          id="inputtext"
                          class="form-control"
                          pInputText
                          formControlName="no_of_answer"
                        />
                        <label for="inputtext">Number of Answer</label>
                      </span>
                    </div> -->

                    <ng-container
                      *ngIf="
                        comp.get('type').value === 'radio' ||
                        comp.get('type').value === 'checkbox'
                      "
                    >
                      <div class="col-12" formArrayName="option">
                        <div
                          class="row"
                          *ngFor="
                            let project of comp.get('option')['controls'];
                            let j = index
                          "
                        >
                          <div class="col-12 col-md-9 mt-5">
                            <span class="p-float-label w-100">
                              <input
                                type="text"
                                id="inputtext"
                                class="form-control"
                                pInputText
                                [formControlName]="j"
                              />
                              <label for="inputtext">Option {{ j + 1 }} </label>
                            </span>
                          </div>
                          <div class="col-12 col-md-3 mt-5 d-flex">
                            <div>
                              <button
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-plus"
                                (click)="addNewOption(comp.get('option'))"
                                class="p-button-rounded p-button-success"
                              ></button>
                            </div>

                            <div style="margin-left: 1rem">
                              <button
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-minus"
                                (click)="deleteOption(comp.get('option'), j)"
                                class="p-button-rounded p-button-danger"
                              ></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>

                    <div
                      class="col-12 col-md-9 mt-5"
                      *ngIf="
                        comp.get('type').value !== 'multipleInput' &&
                        comp.get('type').value !== 'checkbox'
                      "
                    >
                      <span class="p-float-label w-100">
                        <input
                          type="text"
                          id="inputtext"
                          class="form-control"
                          pInputText
                          formControlName="right_answer"
                        />
                        <label for="inputtext">Right Answer</label>
                      </span>
                    </div>

                    <ng-container
                      *ngIf="
                        comp.get('type').value == 'multipleInput' ||
                        comp.get('type').value == 'checkbox'
                      "
                    >
                      <div class="col-12" formArrayName="multiple_answer">
                        <div
                          class="row"
                          *ngFor="
                            let project of comp.get('multiple_answer')[
                              'controls'
                            ];
                            let j = index
                          "
                        >
                          <div class="col-12 col-md-9 mt-5">
                            <span class="p-float-label w-100">
                              <input
                                type="text"
                                id="inputtext"
                                class="form-control"
                                pInputText
                                [formControlName]="j"
                              />
                              <label for="inputtext">Answer {{ j + 1 }} </label>
                            </span>
                          </div>
                          <div class="col-12 col-md-3 mt-5 d-flex">
                            <div>
                              <button
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-plus"
                                (click)="
                                  addNewAnswer(comp.get('multiple_answer'))
                                "
                                class="p-button-rounded p-button-success"
                              ></button>
                            </div>

                            <div style="margin-left: 1rem">
                              <button
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-minus"
                                (click)="
                                  deleteAnswer(comp.get('multiple_answer'), j)
                                "
                                class="p-button-rounded p-button-danger"
                              ></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>

                    <div class="col-12 col-md-3 mt-5">
                      <button
                        class="btn btn-primary"
                        [disabled]="myForm.invalid"
                      >
                        Create
                      </button>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </form>
          </div>
        </ng-container>

        <div *ngSwitchCase="'from_old_question'">
          <app-add-from-existing-question></app-add-from-existing-question>
        </div>

        <div *ngSwitchCase="'import_csv'">
          <app-create-question-from-csv></app-create-question-from-csv>
        </div>

        <div *ngSwitchDefault>*</div>
      </div>

      <ng-template #existing> </ng-template>
    </div>
  </div>
</div>

<ng-template #showspinner>
  <div class="spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>

<!-- <h3 class="h3">Hello</h3>

<form [formGroup]="myForm" (ngSubmit)="create_company_fun()">
  <div formArrayName="questions">
    <div *ngFor="let comp of questionFormArr.controls; let i = index">
      <h3>Question {{ i + 1 }}:</h3>
      <div [formGroupName]="i">
        <input formControlName="question_name" />
        <button type="button" (click)="deleteQuestion(i)">
          Delete Question
        </button>
        <button type="button" (click)="addNewQuestion()">Add Question</button>
        <div formArrayName="option">
          <div
            *ngFor="
              let project of comp.get('option')['controls'];
              let j = index
            "
          >
            <h4>Option {{ j + 1 }}</h4>
            <div>
              <input [formControlName]="j" />
              <button
                type="button"
                (click)="deleteOption(comp.get('option'), j)"
              >
                Delete Option
              </button>
            </div>
          </div>
          <button (click)="addNewOption(comp.get('option'))">
            Add new Option
          </button>
        </div>
      </div>
    </div>
  </div>

  <button type="submit">Sub</button>
</form> -->
