<div class="card">
  <div class="card-body">
    <div class="container-fluid">
      <div *ngIf="new_created; else existing">
        <div class="container-fluid mt-3">
          <form [formGroup]="myForm" (ngSubmit)="create_company_fun()">
            <ng-container formArrayName="questions">
              <div
                class="row"
                *ngFor="let comp of questionFormArr.controls; let i = index"
              >
                <ng-container [formGroupName]="i">
                  <div class="col-12 col-md-9 mt-5">
                    <input
                      type="text"
                      id="inputtext"
                      class="form-control"
                      pInputText
                      formControlName="question_name"
                    />
                  </div>
                  <div class="col-12 col-md-3 mt-5 d-flex">
                    <div>
                      <button
                        type="button"
                        icon="pi pi-plus"
                        (click)="addNewQuestion()"
                        class="p-button-rounded p-button-success"
                      ></button>
                    </div>

                    <div style="margin-left: 1rem">
                      <button
                        type="button"
                        icon="pi pi-minus"
                        (click)="deleteQuestion(i)"
                        class="p-button-rounded p-button-danger"
                      ></button>
                    </div>
                  </div>

                  <div class="col-12 col-md-4 mt-5">
                    <input
                      type="text"
                      id="inputtext"
                      class="form-control"
                      pInputText
                      formControlName="point"
                    />
                  </div>
                  <div class="col-12 col-md-4 mt-5">
                    <span class="p-float-label w-100">
                      <p-dropdown
                        inputId="dropdown"
                        [autoDisplayFirst]="false"
                        [options]="type"
                        [style]="{ minWidth: '100%' }"
                        optionLabel="name"
                        optionValue="type"
                        formControlName="type"
                        (onChange)="type_selected(comp)"
                      ></p-dropdown>
                      <label for="dropdown">Type</label>
                    </span>
                  </div>
                  <div
                    class="col-12 col-md-4 mt-5"
                    *ngIf="comp.get('type').value == 'multipleInput'"
                  >
                    <input
                      type="text"
                      id="inputtext"
                      class="form-control"
                      pInputText
                      formControlName="no_of_answer"
                    />
                    <label for="inputtext">Number of Answer</label>
                  </div>

                  <ng-container
                    *ngIf="
                      comp.get('type').value == 'radio' ||
                      comp.get('type').value == 'checkbox'
                    "
                  >
                    <div class="col-12" formArrayName="option">
                      <div
                        class="row"
                        *ngFor="
                          let project of comp.get('option')['controls'];
                          let j = index
                        "
                      >
                        <div class="col-12 col-md-9 mt-5">
                          <input
                            type="text"
                            id="inputtext"
                            class="form-control"
                            pInputText
                            [formControlName]="j"
                          />
                          <label for="inputtext">Option {{ j + 1 }} </label>
                        </div>
                        <div class="col-12 col-md-3 mt-5 d-flex">
                          <div>
                            <button
                              type="button"
                              icon="pi pi-plus"
                              (click)="addNewOption(comp.get('option'))"
                              class="p-button-rounded p-button-success"
                            ></button>
                          </div>

                          <div style="margin-left: 1rem">
                            <button
                              type="button"
                              icon="pi pi-minus"
                              (click)="deleteOption(comp.get('option'), j)"
                              class="p-button-rounded p-button-danger"
                            ></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>

                  <div
                    class="col-12 col-md-9 mt-5"
                    *ngIf="comp.get('type').value !== 'multipleInput'"
                  >
                    <input
                      type="text"
                      id="inputtext"
                      class="form-control"
                      pInputText
                      formControlName="right_answer"
                    />
                    <label for="inputtext">Right Answer</label>
                  </div>

                  <ng-container
                    *ngIf="comp.get('type').value == 'multipleInput'"
                  >
                    <div class="col-12" formArrayName="multiple_answer">
                      <div
                        class="row"
                        *ngFor="
                          let project of comp.get('multiple_answer')[
                            'controls'
                          ];
                          let j = index
                        "
                      >
                        <div class="col-12 col-md-9 mt-5">
                          <input
                            type="text"
                            id="inputtext"
                            class="form-control"
                            pInputText
                            [formControlName]="j"
                          />
                          <label for="inputtext">Answer {{ j + 1 }} </label>
                        </div>
                        <div class="col-12 col-md-3 mt-5 d-flex">
                          <div>
                            <button
                              type="button"
                              icon="pi pi-plus"
                              (click)="
                                addNewAnswer(comp.get('multiple_answer'))
                              "
                              class="p-button-rounded p-button-success"
                            ></button>
                          </div>

                          <div style="margin-left: 1rem">
                            <button
                              type="button"
                              icon="pi pi-minus"
                              (click)="
                                deleteAnswer(comp.get('multiple_answer'), j)
                              "
                              class="p-button-rounded p-button-danger"
                            ></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>

                  <div class="col-12 col-md-3 mt-5">
                    <button class="btn btn-primary" [disabled]="myForm.invalid">
                      Create
                    </button>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
