<ng-container *ngIf="!spinner; else showspinner">
  <!-- General Information Form -->

  <div class="card" *ngIf="!permission && !ticket">
    <div class="card-body">
      <div class="header">
        <h3 class="">Create Admin</h3>
        <button class="btn btn-primary">
          <a [routerLink]="['../user-details/admin']">
            <i class="fas fa-arrow-left"></i> Back
          </a>
        </button>
      </div>

      <div class="personal-details container-fluid py-3">
        <form [formGroup]="personal_info">
          <div class="row">
            <div class="col-12 col-md-4">
              <span class="p-float-label w-100">
                <input
                  type="text"
                  id="inputtext"
                  formControlName="name"
                  pInputText
                  class="form-control"
                  autocomplete="off"
                />
                <label for="inputtext">Enter your Name</label>
              </span>
            </div>
            <div class="col-12 col-md-4">
              <span class="p-float-label w-100">
                <input
                  type="text"
                  class="form-control"
                  id="inputtext-left"
                  pInputText
                  formControlName="email"
                  autocomplete="off"
                />
                <label for="inputtext-left">Enter your Email</label>
              </span>
            </div>

            <div class="col-12 col-md-4">
              <span class="p-float-label w-100">
                <p-dropdown
                  inputId="dropdown"
                  [autoDisplayFirst]="false"
                  [options]="user_type"
                  [autoWidth]="false"
                  [style]="{ minWidth: '100%' }"
                  formControlName="user_type"
                  autocomplete="off"
                ></p-dropdown>
                <label for="dropdown">Enter User Type</label>
              </span>
            </div>

            <div class="col-12 col-md-4 mt-5 position-relative">
              <span class="p-float-label w-100 position-relative">
                <input
                  type="password"
                  class="form-control"
                  id="inputtext-left"
                  pInputText
                  formControlName="password"
                  #password
                  autocomplete="off"
                />
                <label for="inputtext-left">Enter your Password</label>
              </span>

              <span class="eye" (click)="show_password(password)"
                ><i
                  class="pi pi-eye-slash"
                  *ngIf="
                    password.getAttribute('type') === 'password';
                    else close
                  "
                >
                </i>

                <ng-template #close>
                  <i class="pi pi-eye"> </i>
                </ng-template>
              </span>
            </div>

            <div class="col-12 col-md-4 mt-5">
              <span class="p-float-label w-100">
                <p-multiSelect
                  inputId="multiselect"
                  [options]="days"
                  [filter]="true"
                  [style]="{ minWidth: '100%' }"
                  formControlName="active_days"
                  display="chip"
                ></p-multiSelect>
                <label for="multiselect">Active Days</label>
              </span>
            </div>

            <div class="col-12 col-md-4 mt-5">
              <span class="p-float-label w-100">
                <p-calendar
                  [timeOnly]="true"
                  [style]="{ minWidth: '100%' }"
                  inputId="timeonly"
                  hourFormat="12"
                  formControlName="office_start_time"
                ></p-calendar>
                <label for="calenar">Office Start Time</label>
              </span>
            </div>

            <div class="col-12 col-md-4 mt-5">
              <span class="p-float-label w-100">
                <p-calendar
                  [timeOnly]="true"
                  [style]="{ minWidth: '100%' }"
                  inputId="timeonly"
                  hourFormat="12"
                  formControlName="office_end_time"
                ></p-calendar>
                <label for="calenar">Office End Time</label>
              </span>
            </div>

            <div class="col-12 col-md-4 mt-5">
              <button
                type="button"
                [disabled]="personal_info.invalid"
                (click)="permission = !permission"
                class="btn btn-primary"
              >
                Next
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Permission Form -->
  <div class="permission" *ngIf="permission">
    <div class="card">
      <div class="card-body">
        <!-- Permission Tree -->
        <p-treeTable
          [value]="permissions"
          [columns]="cols"
          selectionMode="checkbox"
          [(selection)]="selected_permission"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-rowNode
            let-rowData="rowData"
            let-columns="columns"
          >
            <tr>
              <td *ngFor="let col of columns; let i = index">
                <p-treeTableToggler
                  [rowNode]="rowNode"
                  *ngIf="i == 0"
                ></p-treeTableToggler>
                <p-treeTableCheckbox
                  [value]="rowNode"
                  *ngIf="i == 0"
                ></p-treeTableCheckbox>
                {{ rowData[col.field] }}
              </td>
            </tr>
          </ng-template>
        </p-treeTable>

        <!-- Button Controls -->
        <div class="d-flex mt-3 w-100">
          <div>
            <button
              class="btn btn-primary ml-3"
              (click)="permission = !permission"
            >
              Back
            </button>
          </div>

          <div class="button-second">
            <button
              class="btn btn-primary"
              (click)="ticket = !ticket; permission = !permission"
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Ticket setting Form -->
  <div class="ticket" *ngIf="ticket">
    <div class="card">
      <div class="card-body">
        <h3 class="h3">Ticket Setting</h3>

        <div class="row">
          <div class="col-12 my-5">
            <span class="p-float-label w-100">
              <p-multiSelect
                inputId="multiselect"
                [options]="category"
                [filter]="true"
                [style]="{ minWidth: '100%' }"
                optionLabel="category_name"
                optionValue="_id"
                display="chip"
                [(ngModel)]="selected_category"
              ></p-multiSelect>
              <label for="multiselect">Category</label>
            </span>
          </div>

          <!-- Ticket Permission Tree -->

          <p-treeTable
            [value]="ticket_permission"
            [columns]="cols"
            selectionMode="checkbox"
            [(selection)]="selected_ticket_permission"
          >
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns">
                  {{ col.header }}
                </th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-rowNode
              let-rowData="rowData"
              let-columns="columns"
            >
              <tr>
                <td *ngFor="let col of columns; let i = index">
                  <p-treeTableToggler
                    [rowNode]="rowNode"
                    *ngIf="i == 0"
                  ></p-treeTableToggler>
                  <p-treeTableCheckbox
                    [value]="rowNode"
                    *ngIf="i == 0"
                  ></p-treeTableCheckbox>
                  {{ rowData[col.field] }}
                </td>
              </tr>
            </ng-template>
          </p-treeTable>
        </div>

        <!-- Button Controls -->
        <div class="d-flex mt-3 w-100">
          <div>
            <button
              class="btn btn-primary ml-3"
              (click)="ticket = !ticket; permission = !permission"
            >
              Back
            </button>
          </div>

          <div class="button-second">
            <button
              class="btn btn-primary"
              [disabled]="
                selected_ticket_permission.length > 0 &&
                selected_category.length == 0
              "
              (click)="get_personal_info()"
            >
              Create
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- Success Message -->
<p-toast position="bottom-center"></p-toast>
<ng-template #showspinner>
  <div class="spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>
