<div
  class="history-tl-container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  [scrollWindow]="false"
  *ngIf="!spinner; else showspinner"
>
  <ul class="tl">
    <li class="tl-item" *ngFor="let log of logs">
      <div class="timestamp">{{ log.date }} <br /></div>
      <ng-container *ngFor="let item of log.data">
        <div class="mb-2">
          <div class="item-title">{{ item.log_code }}</div>
          <div class="item-detail" [innerHTML]="item.html_content"></div>
          <div class="links">
            <a href="javascript:void(0)" *ngIf="item.user_id"> User </a>
            <a href="javascript:void(0)" *ngIf="item.batch_id"> Batch </a>
            <a href="javascript:void(0)" *ngIf="item.chat_id"> Chat </a>
          </div>
          <strong> {{ item.createdAt | date: "medium" }} </strong>
          <hr />
        </div>
      </ng-container>
    </li>
  </ul>
</div>

<ng-template #showspinner>
  <div class="spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>
