<div class="col" *ngIf="!spinner; else showspinner">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Update Your Password</h5>

      <form [formGroup]="update_password_form" (ngSubmit)="update_password()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Old Password</label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="old_password"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >New Password</label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            formControlName="new_password"
          />
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="update_password_form.invalid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<ng-template #showspinner>
  <div class="spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>
