<section *ngIf="!spinner; else showspinner">
    <!-- Enabled Course -->
    <div class="card">
      <div class="card-body">
        <div class="header">
          <h3 class="">Assigned Project List</h3>
  
          <div class="d-flex align-items-center">
            <button class="btn btn-primary" (click)="assignProject()">
              <a>
                Assign Project <i class="fas fa-plus"></i>
              </a>
            </button>
          </div>
        </div>
  
        <div>
          <p-table
            #question_bank_table
            [value]="assigned_project_list"
            dataKey="id"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            styleClass="p-datatable-customers"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="[
              'batch_name'
            ]"
          >
            <ng-template pTemplate="caption" class="w-100">
              <div class="p-d-flex w-100">
                <span class="p-input-icon-left p-ml-auto w-100">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    (input)="
                      question_bank_table.filterGlobal(
                        $event.target.value,
                        'contains'
                      )
                    "
                    placeholder="Search keyword"
                    class="w-100"
                  />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Batch Name</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-assigned_project>
              <tr>
                <td>{{assigned_project.batch_name}}</td>
                <td class="position-relative">
                  
                    <button
                      pButton
                      pRipple
                      type="button"
                      icon="pi pi-ellipsis-h"
                      class="p-button-rounded p-button-text"
                      (click)="menu.toggle($event)"
                    ></button>
  
                    <p-menu
                      #menu
                      [popup]="true"
                      [model]="items"
                      (click)="category_action(assigned_project)"
                    ></p-menu>
                  
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="5">No Batch found.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </section>
  
  <ng-template #showspinner>
    <div class="spinner">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
  