<!-- chat container -->
<div class="" *ngIf="!spinner; else showspinner">
  <div class="card">
    <div class="card-body">
      <ng-container>
        <div
          class="chat-header d-flex justify-content-between align-items-center"
        >
          <h3 class="h3">
            {{ chat.student_name }}
          </h3>
          <div class="control d-flex" *ngIf="chat.sme_id == admin_id">
            <!-- <div class="batch_list">
                <p-dropdown
                  #transfer_admin_id
                  [options]="transfer_admin"
                  placeholder="Transfer Chat"
                  (onChange)="transfer_chat(transfer_admin_id)"
                  optionLabel="name"
                  optionValue="_id"
                  [style]="{ minWidth: '100%', 'border-radius': '10px' }"
                >
                  <ng-template let-group pTemplate="group">
                    <div class="p-d-flex p-ai-center">
                      <span>{{ group.label }}</span>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
              <div class="control">
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="end_chat()"
                >
                  End Chat
                </button>
              </div> -->
          </div>
        </div>

        <div class="chat-body px-2">
          <div class="d-flex">
            <button
              pButton
              pRipple
              pTooltip="Load more"
              type="button"
              icon="pi pi-cloud-download"
              class="p-button-rounded p-button-outlined m-auto"
            ></button>

            <!-- [disabled]="!selected_student_chat_message"
              (click)="load_more()" -->
          </div>

          <div class="post-comments d-flex flex-column">
            <ng-container *ngIf="student_message">
              <div
                class="post-comm"
                *ngFor="let message of chats[0].message"
                [ngClass]="
                  message.sender_type === 'student'
                    ? 'align-self-start'
                    : 'align-self-end'
                "
              >
                <img
                  src="../../assets/images/avatars/profile-image-2.png"
                  class="comment-img"
                  alt=""
                />
                <div class="comment-container pb-2">
                  <span class="comment-author">
                    {{ message.sender_name }}
                    <small class="comment-date" *ngIf="message.created_at">
                      {{ message.created_at | amDateFormat: "hh:mmA" }}</small
                    >
                  </span>
                </div>

                <ng-container *ngIf="message.text_message">
                  <p-divider></p-divider>
                  <span class="comment-text" [innerHTML]="message.text_message">
                  </span>
                </ng-container>

                <div class="attachment" *ngIf="message.attachment?.length > 0">
                  <p-divider></p-divider>
                  <small>Attachments</small>
                  <ul
                    class="d-flex flex-wrap"
                    style="list-style: none; margin: 0; padding: 0"
                  >
                    <li
                      class="mr-2"
                      *ngFor="let file of message.attachment; index as i"
                    >
                      <a
                        [href]="file"
                        target="_blank"
                        [ngClass]="{
                          'text-white': message.sender_type === 'student'
                        }"
                        >file{{ i }}</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- chat form -->
        <div class="">
          <ng-container *ngIf="chat.sme_id; else startchat">
            <div class="col-12 mt-3 mt-md-4">
              <div>
                <quill-editor
                  [styles]="{ 'min-height': '100px' }"
                  [modules]="modules"
                  [(ngModel)]="text"
                >
                </quill-editor>
              </div>
            </div>

            <div class="d-flex align-items-center mt-3">
              <!-- <div class="file">
                <p class="p-0 m-0">Attachment</p>
                <input
                  type="file"
                  multiple
                  (change)="attchment($event)"
                  name="file"
                  id="file"
                />
                <label for="file" title="select files">
                  <span><i class="fas fa-paperclip"></i></span>
                  <span *ngIf="files.length > 0"> {{ files.length }} </span>
                </label>
              </div> -->

              <div class="button ml-3" style="margin: 2rem 0 0rem 3rem">
                <button
                  class="btn btn-primary"
                  (click)="send_message(chats[0].chat)"
                >
                  <!-- *ngIf="!message_sending; else wait"
                  [disabled]="!text && files.length == 0"
                  (click)="send_message(textarea)" -->
                  Send
                </button>
                <ng-template #wait>
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-spin pi-spinner"
                    class="p-button-rounded"
                    disabled="true"
                  ></button>
                </ng-template>
              </div>
            </div>
          </ng-container>

          <div class="row p-0">
            <ng-template #startchat>
              <div class="col-12">
                <button class="btn btn-success w-100">Start Chat</button>

                <!-- [disabled]="!selected_student"
                  (click)="assign_chat_to_admin()" -->
              </div>
            </ng-template>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<audio src="../../../assets/Sound/pop.mp3" #sound></audio>

<ng-template #showspinner>
  <div class="spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>
