<div *ngIf="!spinner; else showspinner">
  <div class="card">
    <div class="card-body">
      <div class="header">
        <h3 class="">Students List</h3>

        <div class="d-flex align-items-center">
          <!-- <button class="btn btn-outline-dark mr-3">
            <a href="javascript:void(0)" (click)="get_updated_course()">
              <ng-container *ngIf="!student_type_disabled; else enable">
                Disabled Student
              </ng-container>
              <ng-template #enable> Active Student </ng-template>
            </a>
          </button> -->
          <button class="btn btn-primary">
            <a [routerLink]="['../../create-student']">
              Create Student <i class="fas fa-plus"></i>
            </a>
          </button>
        </div>
      </div>
      <p-table
        #usertable
        [value]="students_data"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        styleClass="p-datatable-customers"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['name', 'email']"
      >
        <ng-template pTemplate="caption" class="w-100">
          <div class="p-d-flex w-100">
            <span class="p-input-icon-left p-ml-auto w-100">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="
                  usertable.filterGlobal($event.target.value, 'contains')
                "
                placeholder="Search keyword"
                class="w-100"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Email</th>

            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student>
          <tr>
            <td>
              {{ student.name }}
            </td>
            <td>{{ student.email }}</td>

            <td class="position-relative">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-ellipsis-h"
                class="p-button-rounded p-button-text"
                (click)="menu.toggle($event)"
              ></button>

              <p-menu
                #menu
                [popup]="true"
                (click)="set_dynamic_url(student._id)"
                [model]="items"
              ></p-menu>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">No User found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<ng-template #showspinner>
  <div class="spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>
