<section *ngIf="!spinner; else showspinner">

<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
           Publish Exam
        </ng-template>
        <ng-template pTemplate="subtitle">
          Publish your exam
        </ng-template>
        <ng-template pTemplate="content">
          
  
            <div class="row">
                
                <div class="col-12 col-md-3 mt-5" >
                  <span class="p-float-label w-100">
                  
                    <p-calendar
                    inputId="exam_start"
                    [style]="{ minWidth: '100%' }"
                    [(ngModel)]="publish.start_date"
                    dateFormat="dd.mm.yy"
                    [minDate]="minDateValue"
                  ></p-calendar>
                  <label for="exam_start">Exam Start Date</label>
                  </span>
                </div>

                <div class="col-12 col-md-3 mt-5" >
                  <span class="p-float-label w-100">
                  
                    <p-calendar
                        [timeOnly]="true"
                        inputId="start_time"
                        [style]="{ minWidth: '100%' }"
                        hourFormat="12"
                        [(ngModel)]="publish.start_time"
                    ></p-calendar>
                    <label for="calenar">Exam start Time</label> 
                  </span>
                </div>
        

               


                <div class="col-12 col-md-3 mt-5" >
                    <span class="p-float-label w-100">
                        <p-calendar
                        inputId="exam_end"
                        [style]="{ minWidth: '100%' }"
                        [(ngModel)]="publish.end_date"
                        dateFormat="dd.mm.yy"
                      ></p-calendar>
                      <label for="exam_end">Exam End Date</label>
                     
                  </span>
    
                </div>

                  <div class="col-12 col-md-3 mt-5" >
                    <span class="p-float-label w-100">
                    
                      <p-calendar
                          [timeOnly]="true"
                          inputId="end_time"
                          [style]="{ minWidth: '100%' }"
                          hourFormat="12"
                          [(ngModel)]="publish.end_time"
                      ></p-calendar>
                      <label for="calenar">Exam end Time</label> 
                    </span>
                  </div>

            </div>
            <!-- <div class="row" >
                <div class="col-12 col-md-3 mt-5" >
                  <h5>Is time slot</h5>
                  <div class="p-field-radiobutton">
                    <p-radioButton name="is_time_slot" value="Yes" [(ngModel)]="publish.is_time_slot" inputId="time_slot_yes"></p-radioButton>
                    <label for="time_slot_yes">Yes</label>
                  </div>
                  <div class="p-field-radiobutton">
                    <p-radioButton name="is_time_slot" value="No" [(ngModel)]="publish.is_time_slot" inputId="time_slot_no"></p-radioButton>
                    <label for="time_slot_no">No</label>
                  </div>
                </div>

                <ng-container *ngIf="publish.is_time_slot == 'Yes'">

                <div class="col-12 col-md-3 mt-5" >
                  <span class="p-float-label w-100">
                  
                    <p-calendar
                        [timeOnly]="true"
                        inputId="slot_start_time"
                        [style]="{ minWidth: '100%' }"
                        hourFormat="12"
                        [(ngModel)]="publish.slot_start_time"
                        (onSelect) = "onStartTimeSelect($event)"
                    ></p-calendar>
                    <label for="slot_start_time">Slot start Time</label> 
                  </span>
                </div>


                <div class="col-12 col-md-3 mt-5" >
                  <span class="p-float-label w-100">
                    <p-calendar
                        [timeOnly]="true"
                        inputId="slot_end_time"
                        [style]="{ minWidth: '100%' }"
                        hourFormat="12"
                        [(ngModel)]="publish.slot_end_time"
                       
                    ></p-calendar>
                    <label for="slot_end_time">Slot end Time</label> 
                  </span>
                </div>

              </ng-container>
              </div> -->
          
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-grid p-nogutter p-justify-between">
                <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
                <p-button *ngIf="!is_exam_id" label="Create" (onClick)="examPublish()"  iconPos="right" [style]="{'margin-left': '0.5rem'}"></p-button>
                <p-button *ngIf="is_exam_id" label="Update" (onClick)="examPublish()"  iconPos="right" [style]="{'margin-left': '0.5rem'}"></p-button>
                
            </div>
        </ng-template>
    </p-card>
  </div>
</section>

<ng-template #showspinner>
  <div class="spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>