<section *ngIf="!spinner; else showspinner">
  <!-- Enabled Course -->
  <div class="card">
    <div class="card-body">
      <div class="header">
        <h3 class="">Active Subjects List</h3>

        <div class="d-flex align-items-center">
          <button class="btn btn-outline-dark mr-3">
            <a href="javascript:void(0)" (click)="get_updated_subject()">
              <ng-container *ngIf="!subject_type_disabled; else enable">
                Disabled Subject
              </ng-container>
              <ng-template #enable> Enable Subject </ng-template>
            </a>
          </button>

          <button
            class="btn btn-primary"
            *ngIf="user_profile.permissions.includes('SUB01')"
          >
            <a [routerLink]="['../create-subject']">
              Create Subject <i class="fas fa-plus"></i>
            </a>
          </button>
        </div>
      </div>

      <div>
        <p-table
          #subjecttable
          [value]="subject"
          dataKey="id"
          [rows]="10"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          styleClass="p-datatable-customers"
          [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [globalFilterFields]="['subject_name']"
        >
          <ng-template pTemplate="caption" class="w-100">
            <div class="p-d-flex w-100">
              <span class="p-input-icon-left p-ml-auto w-100">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="
                    subjecttable.filterGlobal($event.target.value, 'contains')
                  "
                  placeholder="Search keyword"
                  class="w-100"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>CreatedAt</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-subject>
            <tr>
              <td>
                {{ subject.subject_name }}
              </td>
              <td>{{ subject.createdAt | date: "medium" }}</td>
              <td class="position-relative">
                <ng-container *ngIf="!subject_type_disabled; else enable">
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-ellipsis-h"
                    class="p-button-rounded p-button-text"
                    (click)="menu.toggle($event)"
                  ></button>

                  <p-menu
                    #menu
                    [popup]="true"
                    [model]="items"
                    (click)="update_subject(subject)"
                  ></p-menu>
                </ng-container>

                <ng-template #enable>
                  <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-text"
                    (click)="enable_subject(subject)"
                  ></button>
                </ng-template>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No User found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <!-- Disabled Course -->
  <!-- <div class="card">
    <div class="card-body">
      <div class="header">
        <h3 class="">Disabled Subject List</h3>
      </div>

      <div>
        <p-table
          #subjecttable
          [value]="disabled_subject"
          dataKey="id"
          [rows]="10"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          styleClass="p-datatable-customers"
          [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [globalFilterFields]="['subject_name']"
        >
          <ng-template pTemplate="caption" class="w-100">
            <div class="p-d-flex w-100">
              <span class="p-input-icon-left p-ml-auto w-100">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="
                    subjecttable.filterGlobal($event.target.value, 'contains')
                  "
                  placeholder="Search keyword"
                  class="w-100"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>CreatedAt</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-subject>
            <tr>
              <td>
                {{ subject.subject_name }}
              </td>
              <td>{{ subject.created_at.toDate() | date: "medium" }}</td>
              <td class="position-relative">
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-text"
                  (click)="enable_subject(subject)"
                ></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">No User found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div> -->
</section>

<ng-template #showspinner>
  <div class="spinner">
    <app-spinner></app-spinner>
  </div>
</ng-template>
