<!-- 
<div class="container-fluid">
    <form
      [formGroup]="create_exam_form"
      (ngSubmit)="exam_form_submit()"
    >
      <div class="row">
    
        <div class="col-12 mt-3 mt-md-4">
          <div>
            <quill-editor
              [styles]="{ 'min-height': '100px' }"
              [modules]="modules"
              formControlName="instruction"
            >
            </quill-editor>
          </div>
        </div>
       
      </div>
    </form>
  </div>

  <footer>

    <button class="btn btn-primary">
        <a [routerLink]="['../form']">
          <i class="fas fa-arrow-left"></i> Back
        </a>
      </button>
    <button class="btn btn-primary">
        <a [routerLink]="['../attempts']">
          <i class="fas fa-arrow-right"></i> Next
        </a>
      </button>
    
   
</footer> -->

<div class="stepsdemo-content">
  <p-card>
      <ng-template pTemplate="title">
          Exam Instruction
      </ng-template>
      <ng-template pTemplate="subtitle">
          Write exam instruction
      </ng-template>
      <ng-template pTemplate="content">
        

        <div class="row">
    
          <div class="col-12 mt-3 mt-md-4">
            <div>
              <quill-editor
                [styles]="{ 'min-height': '100px' }"
                [modules]="modules"
                [(ngModel)]="instruction"
                [ngClass]="{'ng-dirty': (instruction.invalid && submitted) || (instruction.dirty && instruction.invalid)}"
              >
              
              </quill-editor>
              <small *ngIf="(instruction.invalid && submitted) || (instruction.dirty && instruction.invalid)" class="p-error">Max Attempts is required.</small>
            </div>
          </div>
         
        </div>
        
      </ng-template>
      <ng-template pTemplate="footer">
          <div class="p-grid p-nogutter p-justify-between">
              <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
              <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right" [style]="{'margin-left': '0.5rem'}"></p-button>
          </div>
      </ng-template>
  </p-card>
</div>