.heading {
  text-transform: capitalize;
}

.student-details {
  ul {
    list-style: none;
    li {
      min-height: 40px;
      padding: 0.5rem;
      margin: 1rem 0rem;
      background: #f8f9fa;
      border: 1px solid #e9ecef;
      span {
        margin-left: 1rem;
      }
    }
    .batch-details {
      .batch-heading {
        display: block;
        padding: 0.5rem 0 1rem 0;
      }
      .details {
        padding: 0 2rem;
      }
      .sub-details {
        strong {
          display: block;
          margin: 0.5rem 0;
        }
        ul {
          li {
            strong {
              display: inline;
            }
          }
        }
      }
    }
  }
}
